<header class="container">
  <h2 class="logo" id="head">&lt;compScript /&gt;</h2>
  <nav>
    <ul class="nav-area">
      <li><a href="#">guardar()</a></li>
      <li><a href="#">ast()</a></li>
      <li><a href="#newTable">tablaSimbolos()</a></li>
      <li><a href="#areaCodigo">compilar() </a></li>
    </ul>
  </nav>
</header>

<section id ="hideSection" class="hide saveFile row" style="display: none;">
  <label for="fileName">Nombre: </label>
  <input type="text" id="namets" class="saveFile" name="fileName" placeholder="Ingresa el nombre del archivo">
  <button type="submit" id="but">Guardar</button>
</section>

<section id="areaCodigo" class="view container">
  <!-- <div class="row"> -->
    <div class="colu">
      <h3 id="entra">Input</h3>
      <ngx-codemirror id="codigo" class="codeMirror" [(ngModel)]="entrada" [options]="{
        lineNumbers: true,
        theme: 'material',
        mode: null,
        scrollbarStyle: null
      }"></ngx-codemirror>
    </div>
    <div class="colu">
      <h3 id="sale">Output</h3>
      <ngx-codemirror class="codeMirror" [(ngModel)]="consola" [options]="{
        lineNumbers: true,
        theme: 'material',
        mode: null,
        scrollbarStyle: null,
        readOnly: 'nocursor'
      }"></ngx-codemirror>
    </div>
  <!-- </div> -->
</section>

<section class="tables" id="newTable">
  <section class="individual" [hidden]="tabsim">
    <h2 class="tituloT">tabla_simbolos</h2>
    <table class="table" id="tablaS">
    </table>
  </section>

  <section class="individual" [hidden]="taberr">
    <h2 class="tablaT">tabla_errores</h2>
    <table class="table" id="tablaE">
    </table>
  </section>
</section>

<footer class="footer">
  <div class="text-center p-3" style="text-transform: uppercase;">
    © 2021 USAC
  </div>
</footer>